body {
    background-image: url('img/comprimidas/form_back.jpeg');
    font-family: 'Garamond', serif;    
  }

.formulario {
    position:block;
    padding: 70px;
    height: auto;
    
}

 .formConsulta {
    width: auto;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
    color: rgb(25, 9, 94);
    /* box-shadow: 7px 13px 37px #000; */
  }
  
  .formConsulta h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(84, 151, 228);
    font-size: 18px;
    color: white;
  }

  
  .formConsulta .botons:hover {
    color: white;
    text-decoration: underline;
  }
  
  .formConsulta .botons {
    width: 100%;
    background: rgb(84, 151, 228);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

#nosotros2 .container2{
    display: block;
    padding: 100px;
    height: auto;
}

/*Medias Query*/

/*a partir de los 850px*/

@media (min-width: 850px){
    
    #nosotros2 .container2{
        position: static;
    }

    #nosotros2 .texto2{
        width: 100%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        
    }

   footer .container{
        justify-content: flex-end;
    }
}
